<div class="content-holder">
  <h1>Box Builder</h1>
  <h2>Start Building</h2>
  <div class="button-container">
    <button class="add-box" 
            (click)="addBox()">Add Box</button>
    <button class="remove-box" 
            (click)="removeBox()">Remove Box</button>
  </div>
  <div *ngIf="boxCountArray.length">
    <div class="square-box" [ngClass]="{'odd-box':boxNumber%2,'even-box':boxNumber%2===0,'fifth-count-box':boxNumber%5===0}" *ngFor="let boxNumber of boxCountArray">{{boxNumber}}</div>
  </div>
  <div *ngIf="!boxCountArray.length">No Boxes</div>
  <div *ngIf="boxCountArray.length">{{boxCountArray.length}}</div>

</div>